.env
.env.local
.env.production
.gestion-avaluatoria.env
/node_modules/
/vendor/
/storage/*
!/storage/.gitkeep
!/storage/normas-tecnicas-sectoriales/
!/storage/normas-tecnicas-sectoriales/.gitkeep
!/storage/marco-juridico-nacional/
!/storage/marco-juridico-nacional/.gitkeep
!/storage/normas-internacionales-valuacion/
!/storage/normas-internacionales-valuacion/.gitkeep
!/storage/normas-niif/
!/storage/normas-niif/.gitkeep
!/storage/rate-limits/
!/storage/rate-limits/.gitkeep
!/storage/sessions/
!/storage/sessions/.gitkeep
/tests/.runtime/
